PORT = port number
MONGODB_URI = your mongobd user
ACCESS_TOKEN_SECRET = access token secret
REFRESH_TOKEN_SECRET = refresh token secret
ACCESS_TOKEN_EXPIRY = time in day ( "day in number" : d)
REFRESH_TOKEN_EXPIRY = time in day ( "day in number" : d)

CLOUDINARY_CLOUD_NAME  =  cloudinary cloud name
CLOUDINARY_API_KEY     = Api Key
CLOUDINARY_API_SECRET  = Api secret
CLOUDINARY_URL = your cloudinary Url 