PORT = 3000
MONGODB_URI = mongodb+srv://ssdhakre93_db_user:Shubham2004@cluster0.64otqbw.mongodb.net
ACCESS_TOKEN_SECRET = xSFwBCxkCeHDizL8Chd12lLuil7iVL3LlVqYGl8rdfuY5ZaQu1A2fDBzruvAt
REFRESH_TOKEN_SECRET = cCoQCXOHHuUdfImpjRQPvZfk3m8f3LrvWWYGBcPVSgGbK0cI3qFACoMzMT2pa8A
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_EXPIRY = 7d